.home {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 16px;
    .quote {
        font-style: italic;
    }

    .instagram {
        text-align: center;
        margin-top: 50px;
    }
}

