.nav-content {
  padding: 10px;
  height: 3%;

  .left-div {
    float: left !important;
    display: inline-block;
    height: 20px;


    @include breakpoint(sm) {
      width: 20%;
    }

    .logo {
      width: 100px;
      height: auto;
      float: left;
    }
  }

  .right-div {
    float: right !important;
    height: 20px;

    @include breakpoint(sm) {
      width: 20%;
    }

    .hamburger-button {
      float: right;

      .toggle-button {
        font-size: 18px;
        line-height: 20px;
        border: none;
        background-color: black;

        .icon-bar {
          display: block;
          width: 16px;
          height: 2px;
          margin: 4px auto;
          background-color: white !important;
          border-radius: 1px;
          padding: 1px;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    height: 100px;
    width: 50px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    float: right;

    &.open {
      display: block;
    }
  }

  .navbar-center {
    display: none;
    overflow: auto;

    @media (min-width: 768px) {
      display: inline-block;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .navbar {
    text-align: center;
  }

  .navbar-nav > li > a {
    font-weight: 400;
    text-transform: uppercase;
    color: white;

    &.main-nav-item {
      font-size: 20px;
    }
  }

  .current-page-item {
    background-color: #5e5e5e;
    pointer-events: none;
  }
}
