.nav-content {
  padding: 10px;
  height: 3%;

  .left-div {
    float: left !important;
    display: inline-block;
    height: 20px;


    @include breakpoint(sm) {
      width: 20%;
    }

    .logo {
      width: 100px;
      height: auto;
      float: left;
    }
  }

  .right-div {
    float: right !important;
    height: 20px;

    @include breakpoint(sm) {
      width: 20%;
    }
  }

  .navbar-center {
    display: none;
    overflow: auto;

    @media (min-width: 768px) {
      display: inline-block;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .navbar {
    text-align: center;
  }

  .navbar-nav > li > a {
    font-weight: 400;
    text-transform: uppercase;
    color: white;

    &.main-nav-item {
      font-size: 20px;
    }
  }

  .current-page-item {
    background-color: #5e5e5e;
    pointer-events: none;
  }
}
