@charset "UTF-8";

//Font-weight
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;


//Breakpoints
$xxxs-breakpoint: 375px;
$xxs-breakpoint: 480px;
$xs-breakpoint: 640px;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;
$xl-breakpoint: 1300px;
