.bike-grid {
  border: 0.5px solid white;
  border-radius: 3px;
}

.bike-tile {
  height: 210px;
  padding: 15px 10px 5px 10px;
  border: 0.5px solid white;
  border-radius: 3px;
  
  img {
    width: 130px;
    height: auto;
    margin-bottom: 5px;
  }

  span {
    font-size: 14px;
    color: white;
    max-width: 140px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
  }

  .instagram-link {
    font-size: 12px;
    display: block;
    color: white;
    float: right;
  }
}
