{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "eqeqeq": 1,
    "dot-notation": 1,
    "no-redeclare": 0,
    "semi": 2,
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "quotes": [1, "single"],
    "semi-spacing": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-extra-semi": 1
  }
}