.bike-tile {
  width: 45%;
  height: 210px;
  padding: 10px 5px 5px;
  box-shadow: inset 0 0 5px white;
  border-radius: 3px;
  margin-bottom: 10px;

  @include breakpoint(xxxs) {
    height: 250px;
  }

  @include breakpoint(sm) {
    width: 30%;
    height: 300px;
  }

  @include breakpoint(md) {
    width: 25%;
    height: 300px;
  }

  &__image {
    text-align: center;
    min-height: 80%;
  }

  &__picture {
    width: 99%;
    height: auto;
  }

  &__title {
    font-size: 14px;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  &__instagram-link {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    color: white;
    text-align: right;
  }
}
