.bike-tile {
    width: 46%;
    height: 230px;
    padding: 10px 5px 5px;
    box-shadow: inset 0 0 5px white;
    border-radius: 3px;
    margin-bottom: 10px;

    @include breakpoint(xxxs) {
        height: 260px;
    }

    @include breakpoint(sm) {
        width: 31%;
        height: 300px;
    }

    @include breakpoint(md) {
        width: 31%;
        height: 380px;
    }

    &__image {
        text-align: center;
        min-height: 75%;

        @include breakpoint(sm) {
            min-height: 79%;
        }

        @include breakpoint(md) {
            min-height: 83%;
        }
    }

    &__picture {
        width: 99%;
        height: auto;
    }

    &__title {
        font-size: 18px;
        font-weight: normal;
        color: white;
        width: 100%;
        margin-bottom: 10px;
    }

    &__instagram-link {
        font-size: 14px;
        display: block;
        color: rgba(255, 255, 255, 0.85);
        text-align: right;
    }
}
